@charset "UTF-8";

/* Add your custom CSS declarations below  */
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/Proxima\ Nova\ Alt\ Bold.otf');
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 14px;
    font-family: 'ProximaNova';
}

.form-select {
    color: black;
    font-size: 14px;
    font-family: 'ProximaNova';
    border-color: rgb(187, 187, 187);
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 25px;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #741E3A;
    font-weight: 600;
    /* margin-bottom: 40px; */
}

/* h2 {
    font-family: 'Playfair Display', serif;
    color: #060C2C;
    font-weight: 600;
    font-size: 24px;
} */

/* .row {
    margin-top: 40px; 
    margin-bottom: 40px;
} */

/* Hero Image CSS */
.hero-image {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/homepage-hero-img.jpg);
    background-size: cover;
}

.hero-image img {
    height: 100px;
    margin-top: 20px;
}

.align-center {
    text-align: center;
}

.hero-image .row {
    align-items: center; 
    height: 100%; 
    margin-left: 10%; 
    margin-right: 15%;
}

.hero-image p {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.hero-image h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}
/* End Hero Image CSS */

/* learn and explore cards */


/* .card-body {
    padding-left: 5%;
    padding-right: 5%;
} */


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-image img {
        height: 300px;
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .hero-image img {
        height: 300px;
    }

}

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .hero-image img {
        height: 300px;
    }


}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .hero-image img {
        height: 300px;
    }

}



/* .hero-image-evolution h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
} */


/* .hero-image-evolution {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-evolution.png);
    background-size: cover;
} */


/* a {
    color: #060C2C;
}

a:hover {
    color: #212E78;
    text-decoration: none;
} */


/* p {
    font-size: 15px;
    font-family: 'ProximaNova';
    color: #333333;

} */

/* 
a.dropdown-item {
    font-size: 12px;
    font-family: 'ProximaNova';
    color: black;
    text-wrap: wrap;
    width: 200px;
} */

/* h1 {
    font-family: 'Playfair Display', serif;
    color: #741E3A;
    font-weight: 600;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #060C2C;
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-family: 'ProximaNovaBold';
    color: #741E3A;
    font-size: 15px;
}

.btn-primary {
    background-color: #741E3A;
    border-color: #741E3A;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
}

.btn-primary:hover {
    background-color: #972a4e;
    border-color: #972a4e;
}

.btn-outline-primary {
    border-color: #741E3A;
    color: #741E3A;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.btn-outline-primary:hover {
    background-color: #741E3A;
    border-color: #741E3A;
    color: white;
}

.btn-outline-secondary {
    border-color: white;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.btn-outline-secondary:hover {
    border-color: white;
    color: #741E3A;
    background-color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.btn-outline-info {
    border-color: white;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.btn-outline-info:hover {
    border-color: white;
    color: #282F41;
    background-color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}


.card {
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    border-radius: 0;
    background-color: #F9F4EF;
    border: none;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.2);
}

.card2 {
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    border-radius: 5px;
    background-color: #F9F4EF;
    border: none;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    text-align: start;
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-text {
    font-size: 16px;
}

.card-body {
    margin-left: 5%;
    margin-right: 5%;
}


.card img {
    width: 20%;
    border-radius: 0;
}

.list-group-item {
    font-size: 10px;
    font-family: 'ProximaNovaBold';

}

.list-group-item.active {
    background-color: #741E3A;
    border-color: #741E3A;
}

.dropdown-item:active {
    background-color: #741E3A;
} */